body {
  /* background-color: #fcfcf7; */
  max-width: 1000px;
  margin: 100px auto;
  padding: 60px 10px 200px 100px;
  background-image: linear-gradient(darkblue, royalblue);
  font-family: 'Righteous', sans-serif;
}

h1 {
  color: pink;
}

img {
  width: 100%;
}

.header {
  margin: 40px;
  padding: 60px;
  border: 2px solid black;
  background-color: royalblue;
}

.portfolio-item {
  margin: 40px;
  padding: 60px;
  border: 2px solid black;
  background-color: gray;
  font-family: 'Roboto', sans-sans-serif;
}
